//colors
$bg_header: #dddddd;
$border_header: gray;
$black: black;
$red: red;
$white: white;
$btn_saradnja: lightgray;
$bg_div: #faf8f8;
//fonts
$font_header: Courier New;
$font_header_2: Courier;
$font_header_3: monospace;
$font_h3: Times New Roman;
$font_h3_2: Times;
$font_h3_3: serif;
$font_div_h2: cursive;
$font_div_p: Arial;
$font_div_p_2: Helvetica;
$font_div_p_3: sans-serif;